<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blogger</h1></a>
        <p>welcome</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">new</a></li>
      </ul>
    </nav>
    <h2>abouts page</h2>
    <div class="about-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem placeat
        vitae quia itaque dolor, cupiditate facere, sapiente odit nemo veritatis
        rem ex porro fugiat, sed ab aspernatur amet sunt deleniti! Quasi
        obcaecati optio doloremque ut libero inventore culpa, perspiciatis
        neque.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, expedita.
        Sunt totam adipisci ipsam mollitia impedit temporibus consequuntur iusto
        magni laudantium, dolorum repudiandae tenetur pariatur at blanditiis
        illo cumque, suscipit atque facere sit molestias vero! Repellat
        reiciendis expedita iure voluptatibus fugiat nisi optio voluptas
        laudantium quis incidunt cum, exercitationem cupiditate numquam
        laboriosam? Omnis nihil obcaecati repudiandae dolor delectus error
        veritatis iste modi amet. Pariatur, velit ea! Repudiandae ullam ea
        suscipit dolorum officia temporibus. Commodi cum nam magnam dolorum
        sequi voluptate!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        corporis debitis nisi nobis minus dicta, quae quaerat temporibus,
        quisquam, autem voluptates perferendis eius eligendi cumque! Itaque
        autem necessitatibus placeat minima commodi, facere obcaecati!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate,
        debitis voluptas? Fugiat, alias distinctio esse voluptas quibusdam
        aperiam accusamus illum enim, rerum eligendi a maxime cum dolor dolore
        commodi dolorum necessitatibus neque nihil at exercitationem ab ut unde
        eos quos. Minima perferendis, iusto ad, placeat sunt laborum
        necessitatibus aliquid provident at reprehenderit, quisquam voluptatem.
        Qui voluptatum voluptatibus sapiente, officiis, dolorem debitis
        distinctio sequi vero possimus delectus quibusdam ipsa libero
        reprehenderit!
      </p>
    </div>
  </body>
</html>
